<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/headerTag :: headerTag"></head>
<body>
<div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				Left Logo Placeholder
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				Right Settings Placeholder
			</div>
		</div>
</div>
<div class="container" th:fragment="content">
    <!-- /* Handle the flash message */-->
        Welcome to the Spring MVC application!
    <p th:text="${serverTime}">The time on the server is [serverTime].</p>
</div>
<div th:replace="fragments/footerTag :: footerTag"></div>
</body>
</html>