@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

html,body{
	height: 100%;
}

text {
	font: 12px sans-serif;
}

svg {
	display: block;
	float: left;
	height: 350px;
	width: 350px;
}

.topDiv{
	top:0;
	left:0;
	background-color: black;
	width: 100%;
	height:60px;

	img{
		height:40px;
		margin-top: 10px;
		margin-bottom:10px;
	}
}

.contentDiv{
	position: relative;
	display:flex;
	flex-direction: row;
	overflow: hidden;

	.leftPanel{
		flex:0 0 200px;
		background-color: #FFF;
		border-right: 1px solid #EEE;
	}

	.rightPanel{
		flex:1 1 auto;
		background-color: #FFF;
		order:2;

		.pageHeading{
			font-weight: bold;
			padding-top:5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 1.6em;
		}
	}
}

.specifics{
	padding:5px;

	.specificLabel{
		font-weight: bold;
		font-size: 0.8em;
		padding-left: 5px;
	}

	.specificValue{
		font-size: 1.5em;
		padding-left: 5px;
	}
}

.footer{
	width:100%;
	background-color: black;
	color:white;
}