<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="footerTag" class="footer">
	this is the footer.
	<script src="/resources/javascripts/jquery-2.1.3.js" th:src="@{/resources/javascripts/jquery-2.1.3.js}" ></script>
	<script src="/resources/javascripts/bootstrap.js" th:src="@{/resources/javascripts/bootstrap.js}" ></script>
	<script src="/resources/javascripts/d3.js" th:src="@{/resources/javascripts/d3.js}" ></script>
	<script src="/resources/javascripts/nv.d3.js" th:src="@{/resources/javascripts/nv.d3.js}" ></script>
	<script src="/resources/javascripts/stream_layers.js" th:src="@{/resources/javascripts/stream_layers.js}" ></script>
</div>
</body>
</html>